# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Environment variables
.env
.env.*

# macOS
.DS_Store

# VSCode
.vscode/

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
*.py,cover

# Mypy
.mypy_cache/

# PyCharm
.idea/

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
Thumbs.db